.page-title {
  height: 63px;

  font-family: 'Heebo';
  font-style: normal;
  font-weight: 800;
  font-size: 43px;
  line-height: 63px;
  text-align: right;
  color: #333333;
  margin-right: 45px;
  margin-left: 45px;
}

.header-safetyform {
  flex: 1;
  text-align: start;
}

.safetySection {
  background: #ECECE5;
  padding: 5px;
  border-radius: 20px;
  margin-right: 45px;
  margin-left: 45px;
  margin-bottom: 20px;
}

.safety-form {
  padding: 24px;
  border-radius: 12px;
  font-family: 'Heebo', sans-serif;
}

.selectField {
  padding: 10px;
  border: 1px solid #F2F4F7;
  border-radius: 15px;
  color: #7A7A7A;
  border-left: 16px solid transparent
}


.form-title {

  padding-right: 24px;
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: right;

  color: #333333;


}

.form-row {
  display: flex;
  gap: 30px;
  margin-bottom: 15px;
}

.form-control {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: none !important;
  border: none;
}

.form-control label {
  font-weight: 500;
  margin-bottom: 0.4rem;
  font-size: 14px;
}

input,
select,
textarea {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  border-radius: 0.95rem;
  padding: 10px;
  font-size: 14px;
  outline: none;
  background-color: #FFF;
  color: #333333;
}

.form-control.yesno {
  /* margin: 16px 0; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-control.yesno label {
  margin-left: 1rem;
}

.yesno button {
  margin-left: 8px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  padding: 0.5rem 3rem;
  border-radius: 2.8rem;
}

.yesno button.active {
  background: #D1E8E4;
  color: #006455;
  border-color: #006455;
}

.submit-btn {
  margin-top: 20px;
  background: #006455;
  color: white;
  border: none;
  padding: 0.5rem 4rem;
  border-radius: 30px;
  font-size: 16px;
  float: left;
}

.reporterDetails .form-control .selectField {
  padding: 0;
  border: none;
  opacity: 1;
  height: max-content;
  cursor: unset;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
}

.reporterDetails {
  display: flex;
  flex-direction: row;
}

.form-control label.required::before {
  content: "*";
  margin-left: 1px;
  font-weight: 700;
  color: #C86338;
}

.form-control label.required.hidden::before {
  color: transparent;
}

.form-control small {
  font-size: 0.75rem;
  color: #7A7A7A;
  margin-top: 0.4rem;

}

.form-control.disabled {
  opacity: 0.5;
  pointer-events: none;
}

textarea {
  resize: none;
}

.left-side {
  flex: 0.2;
}