/* .statusCard {

}
.containerPage{
  width: 75vw;
    margin-right: auto;
    margin-left: auto;
}
.divContent {
  display: flex;
  gap: 1vw;
}
.container.container-full {
    max-width: 100%;
}
.main-content {
  margin-right: 150px;
}
/* הוסף גם את זה (החלף .your-element בשם הקלאס שלך) */
/* .main-content::-webkit-scrollbar {
  display: none;
}
.main-content::-webkit-scrollbar{
  /* הוסף את שתי השורות האלה לאלמנט שרוצה להסתיר את הגלגלת שלו */
/* scrollbar-width: none; /* Firefox */
/* -ms-overflow-style: none; IE and Edge */
  /* width:75vw;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 900px) {
  .main-content {
    margin-right: auto;
    margin-left: auto;
  }

  .divSideBar {
    display: block;
    /* מוצג במסכים גדולים מ-768px */
  /* }
}
@media (min-width: 785px) {
  .containerPage{
    width: 90vw;
  }
.main-content{
      margin-right: 0px;
}
}

.divSideBar {
  display: none;
  /* מוסתר כברירת מחדל (מובייל) */
